<!-- scripts/todo.html -->
<div id="todo">
  <div id="todo-header">
  <div id="todo-toggle">☰</div>
      <h1>To-Do List</h1>
  </div>
  <button id="dashboardButton" title="Open Dashboard">
    <img src="images/clock.png" alt="Dashboard" />
  </button>
  <div id="todo-body">
    <input type="text" id="taskInput" placeholder="Enter task name" />
    <input type="text" id="urlInput" placeholder="Enter task URL" />
    <ul id="taskList"></ul>
  </div>  
  <button id="addTaskButton" title="Add Task">+</button>
  <div id="resize-handle"></div>
</div>
